{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div class="building_container">
        <div class="class_grid">
            {% for building in buildings %}
                <div class="building_desc" onclick="location.href='{{request.get_full_path}}room_list/{{building.number}}'">
                    <span class="building_num">{{building.number}}</span>
                    <br>
                    <span class="building_name">{{building.name}}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
