{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/room.css' %}">
    <div class="header">
        <div class="header_title">
            {{ building_index | stringformat:"02d" }}
            {{ building_name }}
        </div>
        <div style="font-size: 24px; color: #000000;">{{floor}}호</div>
    </div>
<div class="contents">
        <div style="display: flex; ">
            <!-- <div style="font-weight: bold; font-size: 20px; color: #34F0A2; ">강의실 정보</div> -->
            <!-- <div >시 분 후</div> -->
            <div class="class_info_header" >
                <div class="class_info_title">강의실 정보</div>
                <div class="class_info_time">00시 33분 후</div>
            </div>
            <div class="class_info_className">[학교폭력예방 및 학생의 의해] 수업</div>
            <div class="class_info_btnWrapper">
                <div class="class_info_moreBtn">
                    더보기
                    <img class="class_info_moreBtn_img" src="{% static 'img/ic_downBtn.png' %}">
                </div>
            </div>
        </div>
        <div>[] 수업</div>
        <div class="table_wrapper">
            <table>
                <tr>
                    <td class="time_without_lecture"></td>
                    <td class="time_without_lecture">
                        월
                    </td>
                    <td class="time_without_lecture">
                        화
                    </td>
                    <td class="time_without_lecture">
                        수
                    </td>
                    <td class="time_without_lecture">
                        목
                    </td>
                    <td class="time_without_lecture">
                        금
                    </td>
                </tr>
            </table>
            <table>
                <th>
                    
                    <div class="time_without_lecture" style="height: 74px;">
                        9
                    </div>
                    <div class="time_without_lecture" style="height: 74px;">
                        10
                    </div>
                    <div class="time_without_lecture" style="height: 74px;">
                        11
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        12
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        13
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        14
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        15
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        16
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        17
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        18
                    </div>
                    <div class="time_without_lecture"style="height: 74px;">
                        19
                    </div>
                    
                </th>
         
                {% for row in time_table_arr %}
                    <td>
                        {% for cell in row %}
                        <div>
                            <div class="cols" style="position: absolute;">
                                {% if cell.is_using == 1 and cell.length == 1 %}
                                    <div class="time_with_lecture">
                                        {{cell.title}}
                                    </div>
                                {% elif cell.is_using == 1 and cell.length == 2 %}
                                    <div class="time_with_lecture2">
                                        {{cell.title}}
                                    </div>
                                {% elif cell.is_using == 1 and cell.length == 3 %}
                                    <div class="time_with_lecture3">
                                        {{cell.title}}
                                    </div>
                                {% else %}
                                    <div class="time_without_lecture">
                                    </div>
                                {% endif %}
                            </div>
                            <div class="grids">
                                <div class="time_without_lecture">
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="bg_notUse_wrapper">
        <img src="{% static 'img/kuing_mark.png' %}">
        <div class="bg_notUse_word"><br>현재 사용중인 학우가 없습니다.</div>
    </div>
    <div class="useBtn_wrapper">
        <div class="useBtn">사용하기</div>
    </div>
{% endblock %}
