{% extends 'base.html' %}
{% load static %}
{% block content %}
     <link rel="stylesheet" href="{% static 'css/room_reservation.css' %}">
    <script>
        function useBtn(select){
            if(select == "0"){
                document.getElementById("container_wrapper").className = "container_wrapper"
                document.getElementById("container_reserve_wrapper").className = "container_reserve_wrapper_none"
            } else if(select == "1") {
                document.getElementById("container_wrapper").className = "container_wrapper_none"
                document.getElementById("container_reserve_wrapper").className = "container_reserve_wrapper"
            }
        }
    </script>
    <div class="wrapper">
        <div class="header">
                <div class="header_title">
                    {{ building_index | stringformat:"02d" }}
                    {{ building_name }}
                </div>
                <div style="font-size: 24px; color: #000000;">{{floor}}호</div>
        </div>
        <div class="container_reserve_wrapper" id="container_reserve_wrapper">
            <div style="align-items: stretch;">
                
                <form class="reserve_input_form" action="" method="post">
                    {% csrf_token %}
                    <div class="reserve_header_title">목적</div>
                    <div class="reserve_header_context">강의실 사용 목적과 요청사항을 알려주세요</div>
                    <div class="reserve_container_editbox_wrap">
                        <textarea name="description" class="reserve_container_editbox" placeholder="예시)영상촬영중입니다. 출입을 자제해주세요"></textarea>
                    </div>
                    <div class="reserve_header_title">사용 시간</div>
                    <div class="reserve_container_timewrap">
                        <select name="start_time_hour" class="reserve_container_select" id="start_time_hour" style="background: url({% static 'img/ic_downBtn2.png' %}) no-repeat 85% 50%;">
                            <option value="8">08 시</option>
                            <option value="9">09 시</option>
                            <option value="10">10 시</option>
                            <option value="11">11 시</option>
                            <option value="12">12 시</option>
                            <option value="13">13 시</option>
                            <option value="14">14 시</option>
                            <option value="15">15 시</option>
                            <option value="16">16 시</option>
                            <option value="17">17 시</option>
                            <option value="18">18 시</option>
                            <option value="19">19 시</option>
                            <option value="20">20 시</option>
                            <option value="21">21 시</option>
                        </select>
                        <select name="start_time_min" class="reserve_container_select" id="start_time_min" style="background: url({% static 'img/ic_downBtn2.png' %}) no-repeat 85% 50%;">
                            <option value="0">00 분</option>
                            <option value="10">10 분</option>
                            <option value="20">20 분</option>
                            <option value="30">30 분</option>
                            <option value="40">40 분</option>
                            <option value="50">50 분</option>
                        </select>
                        <div class="reserve_container_context">사용 시작</div>
                     </div>
                    {% comment %} <div class="reserve_container_timewrap">
                        <div class="reserve_container_context">
                            +01 시
                        </div>
                        <div class="reserve_container_context">
                            00 분
                        </div>
                        <div class="reserve_container_context">사용 종료</div>
                     </div> {% endcomment %}
                    <div class="reserve_container_comment">기본 사용시간은 고정 60분입니다.</div>
                    <br><br>
                    <div class="reserve_useBtn_wrapper" onclick="">
                        <input class="reserve_useBtn" type="submit" value="확인" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}