@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
input:focus{
    outline:none;
}
input::placeholder {
    color: #ACC1B9;
    font-family: 'Nanum Gothic Bold';
    font-size: 12px;
}

.header_wrapper{
    position:static;
    background:black;
    width:100%;
}
.ic_kuing{
    position:absolute;
    height: 38px;
    left:0;
    margin: 10px 0px 0px 30px;
}
.ic_mypage{
    position:absolute;
    right:0;
    margin: 10px 30px 0px 0px;
    padding:5px;
    border-radius: 20px;
    background:#34F0A2;
}
.building_container{
    position:relative;
    top:100px;
}
.class_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.building_desc{
    position:static;
    width: 80%;
    height: 250px;
    margin: 0 auto;
    padding: 7em 0px 40px 0px;
    margin-bottom: 30px;
    text-align:center;
    background-image: url("http://localhost:8000/static/img/building_circle.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.building_num{
    
    color: #34F0A2;
    /* font-size: 35px; */
    font-size: 3rem;
    font-weight: bold;
}
.building_name{
    font-size: 2rem;
}

/* 스크롤바 제거 */
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }