* {
margin: 0;
padding: 0;
}
/******* for base.html *******/
.header_wrapper{
    position:static;
    background:black;
    width:100%;
    margin-top:8px;
}
.ic_kuing{
    position:absolute;
    left:0;
    margin: 10px 0px 0px 30px;
}
.ic_mypage{
    position:absolute;
    right:0;
    margin: 10px 30px 0px 0px;
    padding:5px;
    border-radius: 20px;
    background:#34F0A2;
}
.container{
    position:static;
    padding: 40px 20px 0px 20px;
}

table{
    /* border-spacing: 1px; */
    border-collapse:collapse;
    border-spacing: 0px;
    border-style: none;
    padding: 0;
}
th{
    padding: 0;
}
td{
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.wrapper{
    display: flex;
    justify-content: center;

}
.contents{
    margin: 0 auto;
    position: static;
    padding: 20px 20px 0px 20px;
    background: #FFFFFF;
    box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.15);
    border-radius: 53px;
    width: 80%;
}
.header{
    flex: 0 0 100%; 
    margin-top: 34px;
    margin-bottom: 10px;
}
.header_title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 23px;
    margin-left: 24px;
}
.header_option{
    position:absolute;
    right:0;
    padding-right: 30px;
    font-size: 18px;
}

.wrapper{
    display: flex;
    justify-content: center;

}
.contents{
    margin: 0 auto;
    position: static;
    padding: 20px 35px 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.15);
    border-radius: 53px;
    width: 80%;
}
.table_wrapper{
    /* 처음에는 none 상태고, 더보기를 누를때 flex로 변경됨 */
    /* display: flex; */
    display: none;
    justify-content: center;
}
.time_counter{
    width: 38px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NanumGothic;
    font-size: 9px;
    color: #353F3B;
    margin-bottom: 1px;
    border: 0.5px #ACC1B9 solid;
}
.time_with_lecture{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    width: 60px;
    z-index: 10;
    width: 59px;
    height: 37px;
    font-size: 10px;
    background-color: #ACC1B9;
    border: 1px #ACC1B9 solid;
}
.time_with_lecture2{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 74px;
    font-size: 10px;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture3{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 113px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture4{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 155px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture5{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 195px;

    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture6{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 195px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_without_lecture{
    width: 61px;
    height: 37px;
    text-align: center;
    /* margin-top: 2px; */
    background-color: #ffffff;
    border: 0.1px #353F3B solid;
}
.dayOfTheWeek{
    font-family: NanumGothic;
    font-size: 9px;
    color: #353F3B;
    width: 61px;
    height: 12px;
    text-align: center;
    border: 0.1px #353F3B solid;
}
.class_info_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom : 17px;
}
.class_info_title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #34F0A2;
}
.class_info_time{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.class_info_className{
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-bottom : 12px;
}
.class_info_moreBtn{
    width:115px;
    background-color: #34F0A2;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom : 12px;
}
.class_info_moreBtn_img{
    margin-left : 2px;
    margin-bottom: 4px;
}
.class_info_btnWrapper{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}
.bg_notUse_wrapper{
    position: absolute;
    left:50%;
    transform:translate(-50%, 0%);

    text-align:center;
    margin-top:72px;
}
.bg_notUse_word{
    font-weight: bold;
    font-size: 18px;
    color: #34f0a2;
}
.useBtn_wrapper_abs{
    position: absolute;
    left:50%;
    bottom: 0%;
    transform:translate(-50%, 0%);

    display: flex;
    justify-content : center;
}
.useBtn_wrapper_flex{
    display: flex;
    justify-content : center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.useBtn{
    position: relative;
    bottom: 0;
    width: 265px;
    background-color: #34F0A2;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin-bottom: 40px;
}