.container{
    position:static;
    padding: 40px 20px 0px 20px;
}
.header{
    position:static;
    padding-bottom: 30px;
    margin-top: 3.4em;
}
.header_title{
    position:absolute;
    left:0;
    padding-left: 30px;
    font-size: 2.6em;
    font-weight: bold;
}
.header_option{
    position:absolute;
    right:0;
    padding-right: 30px;
    font-size: 18px;
}
.option_item{
    float: left;
    background: #ACC1B9;
    border-radius: 30px;
    padding:5px 15px 5px 15px;
}
.menu_bar{
    margin-top: 3.0em;
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
}
.menu_item{
    float: left;
    font-weight: bold;
    font-size: 2.0em;
    border-radius: 2.0em;
    height: 3.4em;
    line-height: 3.4em;
    background: #34F0A2;
    margin-top: 30px;
    padding:5px 15px 5px 15px;
    text-align: center;
}
.menu_item_off{
    float: left;
    font-size: 2.0em;
    border-radius: 2.0em;
    height: 3.4em;
    line-height: 3.4em;
    font-weight: bold;
    color: #ACC1B9;
    margin-top: 30px;
    padding:5px 15px 5px 15px;
    text-align: center;
}
.contents{
    position:static;
    margin-top: 5em;
}
.room_container{
    position:static;
    display: grid;
    height: 4.5em;
    line-height: 4.5em;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    border: 2px solid #f0f0f0;
    border-radius: 50px;
    text-align: center;
    margin-top : 2em;
    padding: 10px 0px 10px 5px;
}
.room_item_name{
    font-size: 1.8em;
    font-weight: bold;
}
.room_item_time{
    font-size: 1.8em;
}
.room_item_status_use{
    width: fit-content;
    justify-self: right;
    padding-left: 1.8em;
    padding-right: 1.8em;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    background: #ACC1B9;
    border-radius: 2.25em;
    margin:0px 10px 0px 10px;
}
.room_item_status_unuse{
    width: fit-content;
    justify-self: right;
    padding-left: 1.8em;
    padding-right: 1.8em;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    background: #34F0A2;
    border-radius: 2.25em;
    margin:0px 10px 0px 10px;
}
.room_item_status_no{
    display: none;
    font-size: 1.8em;
    font-weight: bold;
    color: #ffffff;
    background: #34F0A2;
    border-radius: 20px;
    margin:0px 10px 0px 10px;
    padding:7px 0px 7px 0px;
}


/* 스크롤바 제거 */
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }
