* {
    margin: 0;
    padding: 0;
}
.header_wrapper{
    position:static;
    width:100%;
}

.container{
    position:static;
    padding: 15px 20px 0px 20px;
}
.ic_kuing{
    height: 3rem;
    left:0;
    margin: 3.6rem 0px 0px 3.4rem;
}
.header{
    flex: 0 0 100%;
    margin-bottom: 1.1em;
    margin-top: 4.3rem;
}
.header_title{
    font-size: 3.5rem;
    margin-left: 3rem;
    font-weight: bold;
    margin-bottom: 31px;
}

.container_wrapper{
    display: static;
}
.container_wrapper_none{
    display: none;
}
.contents{
    margin: 0 auto;
    position: static;
    padding: 20px 35px 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.15);
    border-radius: 53px;
    width: 80%;
}

.bg_notUse_wrapper{
    display:absolute;
    text-align:center;
    margin-top:72px;
}
.bg_notUse_word{
    font-weight: bold;
    font-size: 18px;
    color: #34f0a2;
}
.useBtn_wrapper{
    display:flex;
    justify-content : center;
}
.useBtn{
    position:absolute;
    bottom:0;
    width: 265px;
    background-color: #34F0A2;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin-bottom: 40px;
}

.container_reserve_wrapper{
    display: static;
    border-radius:6.0rem;
    border:solid 10px #34F0A2;
    margin: 2rem 3rem 3rem 3rem;
    padding:4rem 3rem 2rem 3rem;
}
.container_reserve_wrapper_none{
    display: none;
}
#reserve_time{
    padding-top:3rem;
}
.reserve_header_title{
    color: #000000;
    font-weight: bold;
    font-size: 2.7rem;
}
.reserve_header_context{
    width:100%;
    color: #000000;
    font-size: 2.0rem;
}
#context_start_msg{
    margin-top: 3.5rem;
}
.reserve_container_context2{
    width:100%;
    color: #000000;
    font-size: 2.0rem;
    text-align: center;
    margin-top: 2rem;
}
.reserve_container_context{
    width:100%;
    color: #000000;
    font-size: 2.0rem;
    text-align: center;
    margin-top: 2rem;
}
.reserve_container_comment{
    width:100%;
    color: #000000;
    font-size: 1.8rem;
    text-align: center;
    margin-top:15px;
    margin-bottom:20px;
}
#editbox_nickname{
    margin-bottom:56px;
}
.reserve_container_editbox_wrap{
    display:flex;
    justify-content : center;
}
.reserve_container_editbox{
    width:100%;
    border-radius: 1.8em;
    border:solid 1px black;
    color: #000000;
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
    resize: none;
}
.reserve_container_timewrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #000000;
}
.reserve_input_form{
    margin-top:10px;
}
#reserve_time_end{
    margin-bottom:3rem;
}
.reserve_container_select{
    color: #000000;
    font-size: 2.0rem;
    -webkit-appearance:none;
    -moz-appearance:none;
    border-radius: 1.8em;
    border:0px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.15);
    appearance:none;
    text-align-last: center;
    padding: 20px 15px 20px 5px; /* 여백과 높이 결정 */
    margin: 1.3em 1.5em 0px 1.5em;
}
.reserve_useBtn_wrapper{
    display:flex;
    justify-content : center;
}
.reserve_useBtn{
    width:100%;
    background-color: #34F0A2;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ffffff;
    padding-top:1rem;
    padding-bottom:1rem;
    margin-bottom: 20px;
}

/* textarea hint */
::placeholder {
  color: #ACC1B9;
  font-size: 2.0rem;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ACC1B9;
  font-size: 2.0rem;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #ACC1B9;
  font-size: 2.0rem;
}


/* 스크롤바 제거 */
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }
