* {
margin: 0;
padding: 0;
}

.container{
    position:static;
    padding: 40px 20px 0px 20px;
}

table{
    /* border-spacing: 1px; */
    border-collapse:collapse;
    border-spacing: 0px;
    border-style: none;
    padding: 0;
}
th{
    padding: 0;
}
td{
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: white;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.header{
    flex: 0 0 100%; 
    margin-top: 34px;
    margin-bottom: 10px;
}
.header_title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 23px;
    margin-left: 24px;
}
.header_option{
    position:absolute;
    right:0;
    padding-right: 30px;
    font-size: 18px;
}

.wrapper{
    display: flex;
    justify-content: center;

}
.contents{
    margin: 0 auto;
    position: static;
    padding: 20px 35px 0px 30px;
    margin: 0px 23px 0px 24px;
    background: #FFFFFF;
    box-shadow: 0px 3px 17px -1px rgba(0, 0, 0, 0.15);
    border-radius: 53px;
}
.collapse {
    margin-top: 30px;
}
.table_wrapper{
    /* 처음에는 none 상태고, 더보기를 누를때 flex로 변경됨 */
    /* display: flex; */
    display: none;
    justify-content: center;
}
.table_header {
    position: absolute;
    margin-top: -11px;
    z-index: 10;
}
.table_time_column {
    position: relative;
    padding-top: 5px;
}
.table_td_column {
    display: inline-block;
    margin-top: 5px;
}
.time_counter{
    width: 38.4px;
    height: 78.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: NanumGothic;
    font-size: 9px;
    color: #353F3B;
    border: 2px #ACC1B9 solid;
}
.time_with_lecture{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    /* width: 60px; */
    z-index: 10;
    width: 59px;
    height: 37px;
    font-size: 10px;
    background-color: #ACC1B9;
    border: 1px #ACC1B9 solid;
}
.time_with_lecture2{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 74px;
    font-size: 10px;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture3{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 113px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture4{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 155px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture5{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 195px;

    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_with_lecture6{
    position: absolute;
    padding-top: 6px;
    text-align: center;
    top: -1px;
    width: 61px;
    z-index: 10;
    height: 195px;
    font-size: 10px;
    margin-top: 1px;
    color: #51836F;
    background-color: #9AFFD5;
    border-radius: 12px;
    border: 1px #51836F solid;
}
.time_without_lecture{
    width: 61px;
    height: 39px;
    text-align: center;
    margin-top: 0.1px;
    background-color: #ffffff;
    border: 0.1px #353F3B solid;
}
.day_of_the_week{
    font-family: NanumGothic;
    font-size: 9px;
    color: #353F3B;
    width: 60.8px;
    height: 12px;
    text-align: center;
    border: 2px #353F3B solid;
}
.class_info_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom : 17px;
}
.class_info_title{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #34F0A2;
}
.class_info_time{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.class_info_className{
    font-size: 18px;
    text-align: center;
    color: #000000;
    margin-bottom : 12px;
}
.class_info_moreBtn{
    width:115px;
    background-color: #34F0A2;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom : 12px;
}
.class_info_moreBtn_img{
    margin-left : 2px;
    margin-bottom: 4px;
}
.class_info_btnWrapper{
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items: center;
}
.bg_notUse_wrapper{
    position: absolute;
    left:50%;
    transform:translate(-50%, 0%);

    text-align:center;
    margin-top:72px;
}
.bg_notUse_word{
    font-weight: bold;
    font-size: 18px;
    color: #34f0a2;
}
.comment_wrapper{
    position: fixed;
    width: 190px;
    height: 60px;

    left:50%;
    bottom:90px;
    transform:translate(-50%, 0%);

    background-image: url("http://localhost:8000/static/img/bg_comment_box.png");
    background-repeat: no-repeat;
    background-position: center;

    font-family: NanumGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    display: flex;
    justify-content : center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;

    color: #000000;
    z-index:16;

}
.useBtn_wrapper_abs{
    position: fixed;
    width:100%;
    left:50%;
    bottom: 0%;
    transform:translate(-50%, 0%);

    display: flex;
    justify-content : center;
    padding-top: 24px;

    background: #FFFFFF;
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.15);

    z-index:15;
}
.useBtn_wrapper_flex{
    display: flex;
    justify-content : center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.useBtn{
    position: relative;
    bottom: 0;
    width: 265px;
    background-color: #34F0A2;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin-bottom: 40px;
}
.useBtn_blocked{
    position: relative;
    bottom: 0;
    width: 265px;
    background-color: #ACC1B9;
    border-radius: 21px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    padding-top:10px;
    padding-bottom:10px;
    font-size: 16px;
    margin-bottom: 40px;
}
/* 사용표시된 내용 관련 */
.bg_reservation_wrapper{
    display:flex;
    flex-direction: column;

    padding: 35px 32px 29px 31px;
    margin: 19px 38px 0px 40px;


    border: 5px solid #9AF8D1;
    box-sizing: border-box;
    border-radius: 53px;
}
.reservation_info_wrapper{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}
.reservation_comment_wrapper{
    display:flex;
    align-items: center;
    margin-top: 19px;
    padding: 8px 35px 7px 36px;

    background: #9AF8D1;
    border-radius: 21px;

    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
.reservation_name{
    display: flex;
    text-align: center;

    font-family: NanumGothic;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000;
}
.reservation_time_wrapper{
    display:flex;
    flex-direction: column;
}
.reservation_time{
    display: flex;
    align-items: center;

    font-family: NanumGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}
#reservation_time_end{
    margin-top:10px;
}
.empty_padding{
    display:flex;
    width:100%;
    height:200px;
}

/* 스크롤바 제거 */
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }
