.header_wrapper{
    position:static;
    background:black;
    width:100%;
}
.ic_kuing{
    position:absolute;
    left:0;
    margin: 10px 0px 0px 30px;
}
.ic_mypage{
    position:absolute;
    right:0;
    margin: 10px 30px 0px 0px;
    padding:5px;
    border-radius: 20px;
    background:#34F0A2;
}
.container{
    position:static;
    padding: 40px 20px 0px 20px;
}
.header{
    position:static;
    padding-bottom: 30px
}
.header_title{
    position:absolute;
    left:0;
    padding-left: 30px;
    font-size: 26px;
    font-weight: bold;
}
.header_option{
    position:absolute;
    right:0;
    padding-right: 30px;
    font-size: 18px;
}
.option_item{
    float: left;
    background: #ACC1B9;
    border-radius: 30px;
    padding:5px 15px 5px 15px;
}
.menu_bar{
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
}
.menu_item{
    float: left;
    font-size: 18px;
    font-weight: bold;
    background: #34F0A2;
    border-radius: 20px;
    margin-top: 30px;
    padding:5px 15px 5px 15px;
    text-align: center;
}
.menu_item_off{
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #ACC1B9;
    margin-top: 30px;
    padding:5px 15px 5px 15px;
    text-align: center;
}
.contents{
    position:static;
    margin-top: 40px;
}
.room_container{
    position:static;
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    border: 2px solid #f0f0f0;
    border-radius: 50px;
    text-align: center;
    margin-top : 5px;
    padding: 10px 0px 10px 5px;
}
.room_item_name{
    font-size: 16px;
    font-weight: bold;
    padding:7px 0px 7px 0px;
}
.room_item_time{
    font-size: 16px;
    padding:7px 0px 7px 0px;
}
.room_item_status_use{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #ACC1B9;
    border-radius: 20px;
    margin:0px 10px 0px 10px;
    padding:7px 0px 7px 0px;
}
.room_item_status_unuse{
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #34F0A2;
    border-radius: 20px;
    margin:0px 10px 0px 10px;
    padding:7px 0px 7px 0px;
}
